<mat-card  fxLayout="column" fxLayoutAlign="space-around center" style=" width:220px; height:150px;background-color: #05ffb0;">
  <div>Merlin</div>

  <div fxLayout="row" style=" margin-left: 5px;" > 
  <div fxLayout="column" >
    <img
      [src]="profileUrl | async"
      alt="profile image" width="100" height="100">


    <div fxLayout="row">
      <div>
        <a href="#" target="_blank"><span class="mdi mdi-instagram"></span></a>
        <a href="#" target="_blank"><span class="mdi mdi-telegram"></span></a>
        <a href="#" target="_blank"><span class="mdi mdi-twitter"></span></a>
        <a href="#" target="_blank"><span class="mdi mdi-gmail"></span></a>
      </div>

    </div>

  </div>
 
  <div fxLayout="column" > 

    <div>
      <span>DOB:12/04/1991</span>
      <span class="mdi mdi-account" title="name" style="color: #ff5722;"></span>
    </div>
    <div>
      <span>anniv:12/04/1991</span>
      <span class="mdi mdi-map-marker" title="location" style="color: #ffc107;"></span>
    </div>
    <div>
      <span>DOD:12/04/1991</span>
      <span class="mdi mdi-badge-account" title="education" style="color:#8bc34a;"></span>
    </div>
  </div>
</div>
</mat-card>
<label for="file">File:</label>


<img [src]="profileUrl | async" />